@media print{
    .clearfix::after, .clearfix::before{content: "";display: table;}
    .clearfix::after{clear: both;}    
    .no-print,.no-print*{display: none !important;}    
    .show_in_print {display: block;}
    .mpmt {margin-top: -80px;}
    .hip{display: none;}
    .dis_print{display: none;}
    .mp_hide{display: none;}
    .mp_mt{margin-top: -80px;}
    .mp_gap{margin-bottom: 15px;}
    .mp_no_mrgn{margin: 0;}

    .invoice_heading{margin-bottom: 5px;}

    h4{margin: 10px 0;}
    p{margin: 0 0 4px;}
    .media_print{margin-bottom: 10px;}
    .mp_txt_30{float: left;width: 33.33%;}

    .mp_20{float: left;width: 20%;}
    .mp_25{float: left;width: 25%;}
    .mp_30{float: left;width: 30%;}
    .mp_33{float: left;width: 33.33%;}
    .mp_40{float: left;width: 40%;}
    .mp_50{float: left;width: 50%;}
    .mp_60{float: left;width: 60%;}
    .mp_70{float: left;width: 70%;}
    .mp_75{float: left;width: 75%;}
    .mp_80{float: left;width: 80%;}
    .mp_100{float: left;width: 100%;}

    .pull-left{float: left !important;}
    .pull-right{float: right !important;}
    .text-center{text-align: center;}
    .text-right{text-align: right;}
    .text-capitalize{text-transform: capitalize;}
    .text-uppercase{text-transform: uppercase;}

    table{border-spacing: 0;border-collapse: collapse;margin-bottom: 10px;max-width: 100%;width: 100%;}
    table tr th,table tr td{border: 1px solid #cdcdcd;padding: 5px;text-align: left;}

    #txtLess{width: 28% !important;}
    .input_dash{
        border: medium none;
        display: inline-block;
        text-align: right !important;
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        -ms-appearance: textfield;
        -o-appearance: textfield;
        appearance: textfield;
    }
    .text-uppercase{text-transform: uppercase;}
    @page {margin: 0.25in 0.25in 0 0.25in; filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1);}

}