/* css for screen media ( tablet, mobile, ipad, ipod ) */
@media(max-width: 992px) {
    .access_item_sub {width: calc(33.33% - 3px) !important;}
}
@media(max-width: 768px) {
    .wxs_100,td.wxs_100,td.wmd_70,td.wmd_30{display: block;width: 100% !important;}
    .nav-tabs.nav-justified>li{float: left}
    .nav-tabs.nav-justified>li>a{margin-bottom: 0}
}
@media(max-width: 767px) {
    .navbar-toggle {border: 1px solid #ffffff !important;}
    #app_nav_collapse {background-color: #222222;}
    .xs_no_mrgn{margin: 0 !important;}
    .xs_no_pad{padding: 0;}
    .xs_txt_left{text-align: left;}
    #toggle_leftnav{float: left;margin-left: 15px;margin-right: 0;}
    .top-nav {padding: 0;}
    .top-nav>li {float: inherit;}
    .column2 .site_nav_links {left: 0;width: 100%;}
    .site_nav_links {left: 0;width: 100%;}
    #sidebar_area{left: -225px;margin: 0;top: 50px;z-index: 1001;}
    #sidebar_area .side-nav>li>a {padding-top: 6px;padding-bottom: 6px;font-size: 16px;}
    #content_area {margin-left: 15px;}
    .panel-title label {display: block;float: none !important;margin: 4px 0 0 !important;}
    .panel-title label .icon_caret_in_out{position: absolute;top: 15px;right: 35px;}
    .access_item,.access_item_sub{width: 100% !important;}

    #breadcrumbBar div.cxs_10,#breadcrumbBar div.cxs_12{width: 83.33333333%;}
    #breadcrumbBar div:nth-child(2){display: none!important;}

    #ajaxMessage{left: 15px;width: calc(100% - 30px);}
    #loading_image{width: 50%;left: 5%;}
    /*extra small device column width*/
    .xsw_20{float: left;width: 20% !important;}
    .xsw_25{float: left;width: 25% !important;}
    .xsw_30{float: left;width: 30% !important;}
    .xsw_33{float: left;width: 33.33% !important;}
    .xsw_40{float: left;width: 40% !important;}
    .xsw_45{float: left;width: 45% !important;}
    .xsw_50{float: left;width: 50% !important;}
    .xsw_55{float: left;width: 55% !important;}
    .xsw_60{float: left;width: 60% !important;}
    .xsw_70{float: left;width: 70% !important;}
    .xsw_75{float: left;width: 75% !important;}
    .xsw_80{float: left;width: 80% !important;}
    .xsw_100{float: left;width: 100% !important;}
    .xsw_100px{width: 100px !important;}
}
@media(max-width: 480px) {
    ul.crumb_links {padding: 0}
    .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
        top: 360px !important;
    }
}