/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

.is-invalid{border:1px solid red;}

/* Global Styles */

body {
    padding-top: 86px;
    /*margin-top: 100px;*/
    background-color: #fff;
}
.content-wrapper {
    margin-left: 200px;
}
input, select, textarea {
    border: 1px solid #cdcdcd;
}

textarea{
    min-height: 50px;
    resize: vertical;
}

[readonly] {
    background-color: #f5f5f5;
}

.bg_gray {
    background-color: #f4f4f4 !important;
}

#wrapper {
    padding-left: 0;
}

.checkbox, .radio{
    margin-top: 0px;
    margin-bottom: 0px;
}

.well {
    margin-bottom: -1px;
    padding: 10px;
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

#breadcrumbBar div:nth-of-type(3) ul{padding: 0}

#frmSearch .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
}

@media(min-width:768px) {
    #wrapper {padding-left: 200px;}
}

/* Custom Code */
.wfull {width: 100%;}
#page-wrapper {background-color: #fff;min-height: 499px;padding: 10px 0px;width: 100%;}


#frmSearch .pickdate{padding: 4px;}
#frmSearch input[type="text"],
#frmSearch input[type="number"],
#frmSearch select{padding: 4px;}

.navbar-inverse {background-color: #222222;border-color: #222222;margin: 0;}
.btn{border-radius:0px}

.form-control {border-radius:0px;}

.nav-tabs li{border-bottom:0px !important;}

input#q {
    width: 220px;
    -webkit-transition: width 300ms linear;
    -moz-transition: width 300ms linear;
    transition: width 300ms linear;
}
select, select.form-control {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-attachment: scroll;
    background-color: #f5f5f5;
    /*background-image: url(../img/down_arrow_ash.png);*/
    /*background-position: 95% 13px;*/
    /*background-repeat: no-repeat;*/
    background: -moz-linear-gradient(top,#fff 0%,#f3f3f3 100%);
    background: -webkit-linear-gradient(top,#fff 0%,#f3f3f3 100%);
    background: linear-gradient(to bottom,#fff 0%,#f3f3f3 100%);
}

.display_block {display: block;}
.show_in_print {display: none;}

.wmd_30 {width: 20%;}
/*.wmd_30 {width:auto;}*/

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom, .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
    top: 213px !important;
}

/* Invalid Input */
.invalid-input {
    background-color: pink;
    border-color: #c00000 !important;
    border-width: 3px !important;
}

/* Top Navigation */
.nav>li {border-bottom: 1px solid #525252;display: block;position: relative;}
.navbar-inverse .navbar-nav>li>a {color: #fff;}
.navbar-inverse .navbar-brand {color: #fff;}
.navbar-inverse .navbar-nav>li>a {color: #fff;}

.top-nav {padding: 0 15px;}
.top-nav>li {display: inline-block;float: left;}
.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {color: #fff;background-color: #000;}
.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.top-nav>.open>.dropdown-menu>li>a {white-space: normal;}

.customer, .customer-name{display: none;}
.new_customer_panel, .new_agent_panel, .new_company_panel, .exist_item{
    display: none;
}

.site_nav_links {
    border-bottom: 1px solid #cccccc;
    left: 200px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    position: fixed;
    top: 51px;
    width: calc(100% - 200px);
    z-index: 999;
    border-radius: 0;
}
.site_nav_links ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.page-title {display: block;font-size: 16px;font-style: italic;font-weight: bold;letter-spacing: 1px;line-height: 1.4;margin: 0;text-transform: uppercase;}

#footerPanel {
    background-color: #222222;
}
#footerBottom {
    padding: 10px;
}
#footerBottom p {
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 0;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
li.message-preview {width: 275px;border-bottom: 1px solid rgba(0,0,0,.15);}
li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
li.message-footer {
    margin: 5px 0;
}
ul.alert-dropdown {
    width: 200px;
}
img.top_avatar {
    /*border: 1px solid #a2a2a2;*/
    display: inline-block;
    max-height: 30px;
    margin-right: 5px;
}

/* Side Navigation */
@media(min-width:768px) {
    .side-nav {
        background-color: #222222;
        border-top: 1px solid #525252;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 50px;
        width: 200px;
        border-radius: 0;
    }
    .side-nav>li {float: none}
    .side-nav>li>a {display: block;padding: 7px 10px}
    .side-nav li a:hover,
    .side-nav li a:focus {outline: none;background-color: #000 !important;}
}

.side-nav>li>ul {padding: 0;}
.side-nav>li>ul>li {position: relative;}
.side-nav>li>ul>li>a {
    color: #fff;
    display: block;
    font-size: 12px;
    padding: 5px 5px 5px 20px;
    text-decoration: none;
}
.side-nav>li>ul>li.active>a,
.side-nav>li>ul>li>a:hover {
    background-color: #000000 !important;
    color: #ffffff;
}

/*.side-nav li:after,*/
/*.side-nav li:before{content: "";}*/


/* Flot Chart Containers */
.flot-chart {
    display: block;
    height: 400px;
}
.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */
.huge {font-size: 40px;}
.panel-green {
    border-color: #5cb85c;
}
.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}
.panel-green > a {
    color: #5cb85c;
}
.panel-green > a:hover {
    color: #3d8b3d;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}
.panel-red > a {
    color: #d9534f;
}
.panel-red > a:hover {
    color: #b52b27;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}
.panel-yellow > a {
    color: #f0ad4e;
}
.panel-yellow > a:hover {
    color: #df8a13;
}

.active_class{background: gray;color: #fff;}
.bg_select{background-color: #000;}
.panel_sub_title{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.row_selected{
    background-color:navy !important;
    color:#fff !important;
}
.duplicate_field{
    border-radius: 0px;
    background-color: #E8E8E8;
    height: 31px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    width: 85%;
    background-image: none;
    margin-top: 2px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color: #C4C4C4;
}
.access_item{
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    display: inline-block;
    padding: 4px 8px;
    width: 24.5%;
    text-transform: capitalize;
}
.access_item label{cursor: pointer;font-weight: normal;margin: 0;}
/*.active_access_item {background-color: #5bc0de;color: #FFFFFF;}*/
.pagination {margin: 0;}

#scroll_table_fix {
    width: 100%;
}
#scroll_table_fix thead {
    display: block;
    width: 98.5%;
}
#scroll_table_fix tbody {
    display: block;
}
#scroll_table_fix tr {
    display: block;
}
#scroll_table_fix td {
    display: block;
}
#scroll_table_fix th {
    display: block;
}
#scroll_table_fix thead th {
    height: 45px;
}
#scroll_table_fix tbody {
    overflow-y: auto;
    height: 350px;
}
#scroll_table_fix thead th {
    float: left;
    width: 13.5%;
}
#scroll_table_fix tbody td {
    float: left;
    width: 13.5%;
}
#scroll_table_fix tr:after {
    clear: both;
    content: ' ';
    display: block;
    visibility: hidden;
}

table.tbl_thin tr th,
table.tbl_thin tr td{border: 1px solid #ddd;padding: 4px;font-size: 13px;}

#loading_image {
    display: none;
    width: 15%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: 600;
    z-index: 99999;
    position: fixed;
    top: 40%;
    left: 50%;
}

#mask{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 14%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
}
.mask{
    background-color: rgba(158, 158, 158, 0.3);
    bottom: 0px;
    display: none;
    left: 15px;
    position: absolute;
    right: 5px;
    top: -5px;
    z-index: 10;
}
.mask::before,.mask:after{
    content: "";
    display: table;
}
.mask:after{
    bottom: 20px;
    color: #F44336;
    content: "X";
    font-size: 155px;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: capitalize;
    top: 0;
    width: 100%;
}

#ajaxMessage{
    left: auto;
    margin: 0;
    padding: 10px;
    position: fixed;
    right: -15px;
    top: 55px;
    width: 340px;
    word-break: break-all;
    z-index: 999999;
}
/*Rezwan Button*/
/*dashboard buttons css effect*/
button.grow_box {
    font-size: 20px;
    font-style: italic;
    background: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 0.25rem solid #3498db;
    padding: 20px 0;
    margin: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}
button.grow_box a{
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
button.grow_box:hover {
    color: #3498db;
}
button.grow_box:hover a{
    color: #3498db;
}
button.grow_box::after {
    content: "";
    background: #ffffff;
    position: absolute;
    z-index: -1;
    display: block;
}
button[class^="grow"]::after {
    transition: all 0.3s ease;
}
button[class^="grow"]:hover::after {
    transition: all 0.3s ease-out;
}
button[class^="grow"] a:hover::after {
    transition: all 0.3s ease-out;
}
button.grow_box::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
}
button.grow_box:hover::after {
    transform: scale(1, 1);
}
/*ellipse button*/
button.grow_ellipse::after {
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    line-height: 8.34em;
    transform: scale(0, 0);
}
button.grow_ellipse:hover::after {
    transform: scale(1, 1);
}
/*skew button*/
button.grow_skew_forward::after {
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
}
button.grow_skew_forward:hover::after {
    transform: skewX(-45deg) scale(1, 1);
}
button.grow_skew_backward::after {
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
}
button.grow_skew_backward:hover::after {
    transform: skewX(45deg) scale(1, 1);
}
/*spin button*/
button.grow_spin::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0) rotate(-180deg);
}
button.grow_spin:hover::after {
    transform: scale(1, 1) rotate(0deg);
}

/* custom margins */
.no_mrgn{margin: 0 !important;}
.no_mrgn_rgt{margin-right: 0 !important;}
.no_mrgn_lft{margin-left: 0 !important;}
.no_mrgn_top{margin-top: 0 !important;}
.no_mrgn_btm{margin-bottom: 0 !important;}
.mb_5{margin-bottom: 5px !important;}
.mb_10{margin-bottom: 10px;}
/* custom paddings */
.no_pad{padding: 0 !important;}
.no_pad_rgt{padding-right: 0 !important;}
.no_pad_lft{padding-left: 0 !important;}
.no_pad_top{padding-top: 0 !important;}
.no_pad_btm{padding-bottom: 0 !important;}
/* custom borders */
.no_bdr{border: none !important;}
.no_bdr_rad{border-radius: 0 !important;}

.invoice_heading {margin-bottom: 5px;}
.invoice_heading .print_title{font-size: 18px;text-transform: uppercase;letter-spacing: 1px;}
.invoice_heading strong{font-size: 12px;}
.invoice_heading .print_subtitle{font-size: 14px;font-weight: bold;}
.print_heading_left{text-align: left}
.print_heading_left .text-center{text-align: left}
.print_heading_center{text-align: center}
.print_heading_right{text-align: right}
.print_heading_left, .print_heading_center, .print_heading_right{margin-bottom: 5px;}
.print_heading_left strong, .print_heading_center strong, .print_heading_right strong{font-size: 13px;}

/* @override select2search css */
/*.select2-container{width: 100% !important}*/
.select2-container .select2-selection--single{border-radius: 0 !important;height: 34px;}
.select2-container--classic .select2-selection--single .select2-selection__rendered{font-size: 14px;line-height: 32px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{font-size: 14px;line-height: 32px;}
.select2-container--classic .select2-selection--single .select2-selection__arrow {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 32px;
}

span.copy_info{font-weight: normal;font-size: 12px;}

.color_danger{color: #ac2925}
.color_success{color: green}
.va_top{vertical-align: top !important}
.va_mid{vertical-align: middle !important}
.va_btm{vertical-align: bottom !important}

/* change style ul li a */

.changestyle{
    margin-left: -40px;

}
.changestyle li{
    list-style: none;

}
.changestyle li a{
    color: #fff;
    display: block;
    font-size: 12px;
    padding: 5px 5px 5px 30px;
    text-decoration: none;
}
.changestyle li a:hover {
    background-color: #000000 !important;
    color: #ffffff;
}
.nav a{
    color: #fff;

}